<% provide(:title, "Home") %>

<h1>Demo</h1>
<p>This is a sample app using Devise + roles.</p>

<% if user_signed_in? %>
  <h3>Welcome <%= current_user.name %>!</h3>
  <% if current_user.admin? %>
    <h3>Admin's stuff:</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Cool.</h3>
  <% end %>
<% else %>
  <h3>Sign up and be cool.</h3>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-large' %>
<% end %>
